/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #6aee96 0%, #37e6ec 100%);
}

a {
  color:white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background:rgba(0,0,0,0.2);
  padding:20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:50px;
}


/* Flex Container */
.flex-nav ul {
  border:1px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: auto;
  justify-content: center;
    background-image: linear-gradient(260deg, #6aee96 0%, #37e6ec,0);
    box-shadow:
        0 0 60px 30px rgb(90, 231, 149),
        0 0 100px 60px rgb(100, 204, 245),
        0 0 140px 90px rgb(38, 201, 147);
}
.flex-nav li{
  width: 50%;
}

img{
  margin: 30%;
  height: 250px;
  animation-name: slidein;
  animation-duration: 3s;
  max-width: 300px;
}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  50% {
    margin-left: -30%;
    width: 100%;
  }
  75% {
    margin-left: 30%;
    width: 100%;
  }
  85%{
    transform: rotate(360deg);
}
100%{
  transform: scale(2.5);
}
}

@media all and (max-width:1100px) {
  
  .flex-nav ul{
    display: flex;
    flex-wrap: wrap;
  }
      li {
        width: 50%;
      }
  .social{
    max-width: 25%;
  }
  
}

@media all and (max-width:500px) {
  .flex-nav ul{
    display: flex;
    flex-wrap: wrap;
  }
      li {
        min-width: 100%;
      }
  .social{
    min-width: 25%;
    min-height: 25%;
  }
  

}